h1 
{
 font-family: "Comic sans MS"; 
 color:green ;
 font size:14; 
 font-size:50pt;
 background:yellow;

}
h3
{
font-family :"Comic sans MS";
color : red;
font-size : 40;
font-style : bold;
 background:Navyblue;
}
body
{
font-family : "Comic sans MS";
color : lightblue;
font-size : 16;
}
title
{
color : lavender;
font-size : 18;
font-style : bold;
}
li
{
color : violet;
font-size : 14;
font-style : bold;
}
form
{
color : orange;
font-size : 12;
font-style : bold;
}
ul
{
color : lightgreen;
font-size : 14;
font-style : bold;
}
ol
{
color : purple;
font-size : 12;
font-style : bold;
}
tr
{
color : black;
font-size : 14;
font-style : italic;
}
tr
{
color : violet;
font-size : 12;
font-style : italic;
}
head
{
color : grey;
font-size : 20;
font-style : bold;
}
